# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# Node
node_modules/
.next/
.env.local
dist/

# DB
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Data
backend/data/
.vercel

# Logs & build artifacts
*.log
*.tsbuildinfo
next-env.d.ts

# Reference material (large/copyrighted, not for public repo)
reference/
